:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --graysh-blue: hsl(233, 8%, 79%);
  --dark-graysh-blue: hsl(236, 13%, 42%);
  --blue: hsl(240, 100%, 5%);
  --header-height: 50px;
  --header-width: 1200px;
  --font-size-h1: 45px;
  --font-size-h2: 40px;
  --font-size-h3: 17px;
  --font-size-paragraph: 15px;
  --button-font-size: 15px;
  --button-height: 50px;
  --font-size: 25px;
}

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-paragraph);
}

p {
  line-height: 1.7;
}

.header-container {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  width: var(--header-width);
  margin: 20px 15px;
}

.header-menu-li a {
  transition: color 0.5s;
}

.header-menu-li a:hover {
  color: var(--soft-red);
}
.logo {
  display: inline-block;
}
.menu-elements {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-elements li {
  margin: 0 20px;
}
.menu-elements li a {
  text-decoration: none;
  color: var(--dark-graysh-blue);
}

.menu-elements li:last-child {
  margin-right: 50px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.grid-container {
  display: grid;
  width: var(--header-width);
  grid-template-rows: 1.5fr 1fr;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-gap: 30px;
  margin: 0 50px;
  grid-template-areas:
    "img img news"
    "news-text readmore news"
    "card1 card2 card3";
}

/* .grid-container div {
  background-color: rgba(25, 248, 136, 0.233);
} */

.img {
  padding: 0;
  grid-area: img;
  background-image: url(./assets/images/image-web-3-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.whats-new {
  grid-area: news;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.whats-new h1 {
  color: var(--soft-orange);
  font-size: var(--font-size-h1);
}

.news-text {
  grid-area: news-text;
}

.news-text {
  font-size: var(--font-size-h1);
  font-weight: bold;
}

.news-1,
.news-2,
.news-3 {
  border-bottom: solid 1px var(--graysh-blue);
  padding: 20px;
  color: var(--off-white);
}

.news-paragraph {
  color: var(--graysh-blue);
  font-size: var(--font-size-paragraph);
}

.read-more-paragraph {
  color: var(--dark-graysh-blue);
  padding: 10px 0;
}

.news-link {
  text-decoration: none;
  color: var(--off-white);
  font-size: var(--font-size);
}

.news-link:hover {
  color: var(--soft-orange);
}

.read-more {
  grid-area: readmore;
}
.read-more {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding: 20px; */
  color: var(--dark-graysh-blue);
  font-size: var(--font-size-paragraph);
}

.read-more-button {
  /*  display: block; */
  text-decoration: none;
  color: var(--blue);
  font-size: var(--button-font-size);
  font-weight: 700;
  letter-spacing: 3px;
  background-color: var(--soft-red);
  text-align: center;
  line-height: var(--button-height);
  height: var(--button-height);
  max-width: 60%;
  padding: 0 10px;
}

.read-more-button:hover {
  color: var(--off-white);
  background-color: black;
}

.card-1 {
  grid-area: card1;
}
.card-2 {
  grid-area: card2;
}

.card-3 {
  grid-area: card3;
}

.card-1,
.card-2,
.card-3 {
  display: flex;
  align-items: center;
  height: 100%;
  /* padding: 10px; */
  gap: 20px;
}

.card-1 img,
.card-2 img,
.card-3 img {
  height: 200px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
  gap: 10px;
  padding: 0 10px;
}
.card-text-h2 {
  font-size: var(--font-size-h2);
  color: var(--soft-red);
}
.card-text-h3 {
  font-weight: 800;
  font-size: var(--font-size-h3);
}

.card-text-paragraph {
  color: var(--dark-graysh-blue);
  font-size: var(--font-size-paragraph);
}
