:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --graysh-blue: hsl(233, 8%, 79%);
  --dark-graysh-blue: hsl(236, 13%, 42%);
  --blue: hsl(240, 100%, 5%);
  --font-size-paragraph: 15px;
  --header-height: 50px;
  --header-width: 1440px;
  --font-size-h1: 60px;
  --button-font-size: 25px;
  --font-size: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-paragraph);
}

.header-container {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  width: var(--header-width);
  margin: 20px 15px;
}
.logo {
  display: inline-block;
}
.menu-elements {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-elements li {
  margin: 0 20px;
}
.menu-elements li a {
  text-decoration: none;
  color: var(--dark-graysh-blue);
}

.menu-elements li:last-child {
  margin-right: 50px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.grid-container {
  display: grid;

  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 0 50px;
  grid-template-areas:
    "img img news "
    "news-text readmore news"
    "card1 card2 card3";
}

/* .grid-container div {
  background-color: rgba(25, 248, 136, 0.233);
} */

.img {
  padding: 0;
  grid-area: img;
  background-image: url(./assets/images/image-web-3-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.whats-new {
  grid-area: news;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 20px;
}

.whats-new h1 {
  color: var(--soft-orange);
  font-size: var(--font-size-h1);
}

.news-text {
  grid-area: news-text;
}

.read-more {
  grid-area: readmore;
}

.card-1 {
  grid-area: card1;
}
.card-2 {
  grid-area: card2;
}

.card-3 {
  grid-area: card3;
}

.news-text {
  font-size: var(--font-size-h1);
  font-weight: bold;
}

.read-more {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding: 20px; */
  color: var(--dark-graysh-blue);
  font-size: var(--font-size-paragraph);
}

.read-more-button {
  /*  display: block; */
  text-decoration: none;
  color: var(--blue);
  font-size: var(--button-font-size);
  font-weight: 700;
  letter-spacing: 2px;
  background-color: var(--soft-red);
  height: 50px;
  width: 50%;
}

.news-1,
.news-2,
.news-3 {
  border-bottom: solid 1px var(--graysh-blue);
  padding: 20px;
  color: var(--off-white);
}

.news-1 p,
.news-2 p,
.news-3 p {
  color: var(--graysh-blue);
  padding: 10px 0;
}

.news-1 h2,
.news-2 h2,
.news-3 h2 {
  font-size: var(--font-size);
}
