* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 54%, 90%);
}

p {
  font-size: 16px;
  max-width: 800px;
}

.brown-outfit {
  color: hsl(14, 45%, 36%);
  font-weight: 800;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container div {
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
  padding: 40px;
}

.image {
  border-radius: 20px;
  height: 500px;
}

.sub-container {
  background-color: hsl(330, 76%, 72%);
  border-radius: 20px;
}
.sub-container h3 {
  color: hsl(332, 51%, 32%);
}

.footer-el {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 3px hsl(30, 10%, 34%);
}
