@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display";
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  background-color: hsl(225, 100%, 98%);
  border-radius: 40px;
  overflow: hidden;
  max-width: 450px;
  align-items: center;
}
.annual-pay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: hsl(225, 100%, 94%);
  border-radius: 20px;
  padding: 10px 20px;
  margin: 30px 0;
  height: 130px;
  width: 350px;
}
.annual-pay a:link {
  font-weight: bold;
  font-size: large;
}
.annual-text {
  font-size: 14px;
}

.logo-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 14px;
}
.logo-img {
  display: inline-block;
  align-self: center;
}

.content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.process-payment {
  display: block;
  margin: 30px 0;
  padding: 20px 60px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background-color: hsl(245, 75%, 52%);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  width: 350px;
}

.cancel-payment {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  color: hsl(224, 23%, 55%);
}

.content-bottom h1 {
  margin: 20px 0;
}
.content-bottom p {
  color: hsl(224, 23%, 55%);
}
