@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: hsl(30, 10%, 34%);
}

h1,
h2,
h3 {
  font-family: "Young serif", sans-serif;
}

h2,
h3 {
  color: hsl(14, 45%, 36%);
}

h1 {
  font-weight: 700;
  font-size: 64px;
  color: black;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 400;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-color: hsla(14, 45%, 36%, 0.313);
}

.wrapper {
  width: 950px;

  padding: 50px;
  background-color: white;
  border-radius: 20px;
}

img {
  width: 100%;
  border-radius: 20px;
}

.prep-time-container {
  background-color: hsl(330, 100%, 98%);
  border-radius: 20px;
  line-height: 3;
  padding: 20px;
  margin-bottom: 20px;
}
.prep-time-container ul {
  padding-left: 50px;
}

.simple-omlette,
.ingredients-container,
.prep-time-container,
img,
.instructions-container {
  margin-bottom: 40px;
}

.simple-omlette h1 {
  margin-bottom: 30px;
}
.simple-omlette p {
  line-height: 2;
}

.ingredients-container ul {
  margin-left: 20px;
  line-height: 3;
}

.instructions-container {
  line-height: 3;
}

.instructions-container ol {
  margin-left: 30px;
}

table {
  width: 100%;
  line-height: 3;
  border-collapse: collapse;
}
thead {
  text-align: left;
}

thead tr th:last-child {
  font-weight: normal;
}

table tbody tr:not(:last-child) td {
  border-bottom: solid 1px grey;
}
